<div id="container">
    <div id="modulo1"><p id="text_modulo">1</p></div>
    <div id="modulo2"><p id="text_modulo">2</p></div>
    <div id="modulo3"><p id="text_modulo">3</p></div>
    <div id="modulo4"><p id="text_modulo">4</p></div>
    <div id="modulo5"><p id="text_modulo">5</p></div>
</div>


    <div class="container">
        <div class="row" id="father_row_right">
            <div class="col-md-12" id="corpo_cards_M1">
                <p id="txt_M"> Módulo 1 </p>
                <mat-card *ngFor="let unidadeCurricular of unidadesCurricularesM1" id="cards_M1">
                    <mat-card-content>
                      <p> {{unidadeCurricular.nome}} </p>
                      </mat-card-content>
                  </mat-card>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="father_row_left">
            <div class="col-md-12" id="corpo_cards_M2">
                <p id="txt_M"> Módulo 2 </p>
                <mat-card *ngFor="let unidadeCurricular of unidadesCurricularesM2" id="cards_M2">
                    <mat-card-content>
                      <p> {{unidadeCurricular.nome}} </p>
                      </mat-card-content>
                  </mat-card>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="father_row_right">
            <div class="col-md-12" id="corpo_cards_M3">
                <p id="txt_M"> Módulo 3 </p>
                <mat-card *ngFor="let unidadeCurricular of unidadesCurricularesM3" id="cards_M3"> 
                    <mat-card-content>
                      <p> {{unidadeCurricular.nome}} </p>
                      </mat-card-content>
                  </mat-card>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="father_row_left">
            <div class="col-md-12" id="corpo_cards_M4">
                <p id="txt_M"> Módulo 4 </p>
                <mat-card *ngFor="let unidadeCurricular of unidadesCurricularesM4" id="cards_M4">
                    <mat-card-content>
                      <p> {{unidadeCurricular.nome}} </p>
                      </mat-card-content>
                  </mat-card>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="father_row_right">
            <div class="col-md-12" id="corpo_cards_M5">
                <p id="txt_M"> Módulo 5 </p>
                <mat-card *ngFor="let unidadeCurricular of unidadesCurricularesM5" id="cards_M5">
                    <mat-card-content>
                      <p> {{unidadeCurricular.nome}} </p>
                      </mat-card-content>
                  </mat-card>
            </div>
        </div>
    </div>