#father_row_right {
    justify-content: right;
}

#father_row_left {
    justify-content: left;
}

#txt_M {
    color: white;
    font-weight: 500;
    font-size: 24px;

    padding-top: 15px;
    padding-bottom: 15px;

    text-align: center;

    border-bottom: 1px solid white;

}

/* MÓDULO 1 */
#corpo_cards_M1 {
    border: 1px solid black;
    background-color: #105572;

    text-align: left;

    width: 450px;
    height: 450px;
}

#cards_M1 {
    background-color: #105572;
    color: white;

    box-shadow: none;

    margin: -10px;
    font-weight: 500;
}

/* MÓDULO 2 */
#corpo_cards_M2 {
    border: 1px solid black;
    background-color: #13AFAE;

    text-align: left;

    width: 450px;
    height: 400px;
}

#cards_M2 {
    background-color: #13AFAE;
    color: white;

    box-shadow: none;

    margin: -10px;
    font-weight: 500;
}

/* MÓDULO 3 */
#corpo_cards_M3 {
    border: 1px solid black;
    background-color: #E97E2E;

    text-align: left;

    width: 450px;
    height: 428px;
}

#cards_M3 {
    background-color: #E97E2E;
    color: white;

    box-shadow: none;

    margin: -10px;
    font-weight: 500;
}

/* MÓDULO 4 */
#corpo_cards_M4 {
    border: 1px solid black;
    background-color: #F44556;

    text-align: left;

    width: 450px;
    height: 395px;
}

#cards_M4 {
    background-color: #F44556;
    color: white;

    box-shadow: none;

    margin: -10px;
    font-weight: 500; 
}

/* MÓDULO 5 */
#corpo_cards_M5 {
    border: 1px solid black;
    background-color: lightblue;

    text-align: left;

    width: 450px;
    height: 395px;
}

#cards_M5 {
    background-color: lightblue;
    color: white;

    box-shadow: none;

    margin: -10px;
    font-weight: 500; 
}